@import "../../assets/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 422px) {
  /* Стили для экранов меньше 375px */
  .container {
    width: 100%;
    max-width: 422px; /* Максимальная ширина для мини приложения */
    height: 625px; /* Максимальная высота для мини приложения */
  }
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #D1E3F8, #F6F0FF);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Balsamiq Sans", sans-serif;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../assets/images/glassFront.jpg");
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 22vw 4.2vw 0;
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  h1 {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  margin-bottom: 4.7vw;
}

  h2{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    margin-bottom: 5.5vw;
  }
}

.info{
  display: flex;
  flex-direction: column;
  gap: 3.33vw;
}



.button {
  margin-bottom: 7vw;
}

.paragraphs{
  display: flex;
  flex-direction: column;
  gap: 1.4vw;
  margin-bottom: 10vw;
}

.paragraphs p {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #ffffff;
}

.advice{
  background-color: rgba(113, 137, 173, 0.4);
  border-radius: 2vw;
  padding: 3.33vw;
  p {
    font-size: 3.33vw;
    line-height: 3.5vw;
    color: #ffffff;
  }

}

.bottomnav {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(130, 159, 200);
  border-radius: 10px 10px 0 0;
  z-index: 10;
}

.navitem {
  width: 13.8vw;
  height: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2vw;

  button {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 10px;
  }


  img {
    color: #CFCFCF;
    height: 9.7vw;
    margin-bottom: 2vw;
  }
}



