.loader{
  display: flex;
  gap: 0.25rem;

  .dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;

    background-color: #3BA1D3;

    animation: bounce 0.5s infinite alternate;
  }
}

@keyframes bounce {
  to {
    translate: 0 -0.25rem;
  }
}
