@import "../../assets/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 359px) {
  /* Стили для экранов меньше 375px */
  .container {
    width: 100%;
    max-width: 359px; /* Максимальная ширина для мини приложения */
    height: 625px; /* Максимальная высота для мини приложения */
  }
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #D1E3F8, #F6F0FF);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Balsamiq Sans", sans-serif;
  overflow: hidden;
  overscroll-behavior: contain;
  touch-action: manipulation;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 11vw;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding-top: 4vh;

  background-image: url("../../assets/images/glassFront.jpg");
  background-size: cover;
}

.topnav {
  width: 100vw;
  height: 4.77vh;
  padding-right: 6vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.currencyinfo{
  height: 2.69vh;
  width: 7.3vw;
  display: flex;
  justify-content: center;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 1vh;
  color:#ffffff;
}

.balanceinfo {
  display: flex; /* Используем flexbox */
  justify-content: center; /* Горизонтальное выравнивание */
  align-items: center; /* Вертикальное выравнивание */
  width: 21.3vw; /* Убедитесь, что ширина задана корректно */
  height: 8.6vh; /* Убедитесь, что высота задана корректно */
  text-align: center; /* Запасное правило */
  font-size: 1em;
  font-weight: 700;
  color: #fff;
}


.balanceinfo h1 {
  font-size: 48px;
  margin: 0;
  text-align: center;
}

.handcontainer {
  width: 100vw;
  height: 68vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  button .handimage{
  }
}


.circle {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 10px;
}

.handimage {
}

.infotext {
  color: white;
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  text-shadow: 2px 2px 5px rgba(57, 56, 56, 0.72);
}

.bottomnav {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(130, 159, 200);
  border-radius: 10px 10px 0 0;
  z-index: 10;
}

.navitem {
  width: 13.8vw;
  height: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2vw;

  button {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 10px;
  }


  img {
    color: #CFCFCF;
    height: 9.7vw;
    margin-bottom: 2vw;
  }
}